ion-card {
    margin-top: 20%;
}

/*ion-input.has-focus {
    --border-color: var(--ion-color-secondary-background)!important;
    --highlight-color-focused: var(--ion-color-secondary-background)!important;
}

ion-input.has-focus ion-label {
    color: var(--ion-color-secondary-background)!important;
}*/