.logo-col {
    display: flex;
}

.logo-col ion-img {
    width: 90%;
}

.emphasis {
    color: var(--ion-color-secondary-background);
    font-weight: bold;
}

.emphasis_highschool {
    font-weight: bold;
}

.emphasis_slogan {
    font-style: italic;
}