<app-header></app-header>

<ion-content [fullscreen]="true" color="main-background">
  <div class="content">
    <ion-card color="tertiary-background">
      <ion-card-header>
        <ion-card-title>FormaOcupa Ticket App</ion-card-title>
        <ion-card-subtitle>
          <ion-text color="success">PROJECTE INNOVAFP</ion-text>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row class="ion-margin">
            <ion-col class="ion-justify-content-center ion-align-items-center logo-col">
              <ion-img src="assets/institut-caparrella-logo.png"></ion-img>
            </ion-col>
            <ion-col class="ion-justify-content-center ion-align-items-center logo-col">
              <ion-img src="assets/innovafp.png"></ion-img>
            </ion-col>
          </ion-row>
          
          <ion-row class="ion-margin">
            <ion-col>
              <p>Aquesta aplicació ha estat desenvolupada en el marc del programa d'innovació eduativa InnovaFP, en col·laboració amb la <span class="emphasis">Fira FormaOcupa 2026</span> de Lleida i amb l'objectiu de gestionar les visites que rep cadascun dels seus estands.</p>
            </ion-col>
          </ion-row>

          <ion-row class="ion-margin">
            <ion-col>
              <p>Dissenyada i desenvolupada per l'alumnat i el professorat del <span class="emphasis">Cicle Formatiu de Grau Superior de Desenvolupament d'Aplicacions Web de l'Institut Caparrella</span>, sota el marc del projecte InnovaFP</p>
            </ion-col>
          </ion-row>

          <ion-row class="ion-margin">
            <ion-col>
              <ion-label class="emphasis_highschool">Institut Caparrella de Lleida</ion-label>
              <p class="emphasis_slogan">Tecnologia al servei de l'educació</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <app-logout-modal></app-logout-modal>
</ion-content>